<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V13</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= stylesheet_link_tag 'custom' %>
    <%= stylesheet_link_tag 'font-awesome' %>
</head>
<body>
    
    <div class="login-container">   
        <div class="language-help-con">
            <ul>
                <li><img src="<%= asset_path 'google-lan.png' %>"></li>
                <li>
                    <select>
                        <option>Select Language</option>
                        <option>English</option>
                    </select>
                </li>
                <li class="login-dropdown"><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                    <ul>
                        <li><a href="https://royaltyzone.zendesk.com/anonymous_requests/new" target="_blank"><i class="fa fa-commenting-o" aria-hidden="true"></i>  Request Support</a></li>
                        <li><a href="http://royaltyzone.com/support/" target="newwin"><i class="fa fa-video-camera" aria-hidden="true"></i> Tutorials</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="logo">
            <img src="<%= asset_path 'logo.png'%>" />
        </div>
        <div class="login-form">
            <span class="login-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <h1>Sign In</h1>
            <form>
                <div class="push-bottom-20"><span class="input-icon email"><i class="fa fa-envelope-o" aria-hidden="true"></i></span><input type="email" placeholder="Email Address" required /></div>
                <div class="push-bottom-20"><span class="input-icon password"><i class="fa fa-lock" aria-hidden="true"></i></span><input type="password" placeholder="Password" required /></div>
                <div><button class="btn btn-login width-100">Login</button></div>
            </form>
            <p class="forgot-password-text"><a href="#">Forgot Your Password?</a>  |  <a href="#">Request an Account</a></p>
            <p class="login-info"><i class="fa fa-info-circle" aria-hidden="true"></i> RoyaltyZone is best experienced with Chrome or Safari</p>
            <p class="text-right"><img src="<%= asset_path 'ss-cer.png'%>" /></p>
            <a href="#" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30 start-conversation" style="display: none;">
                                <i class="fa fa-long-arrow-right m-l-5"></i>
                                Chat Bot
                            </a>
            <a href="#" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30 start-payroll-conversation" style="display: none;">
                                <i class="fa fa-long-arrow-right m-l-5"></i>
                                Payroll Bot
                            </a>
        </div>
        
        <footer>
            <p>Copyright © 2019 RoyaltyZone, Inc. All Rights Reserved</p>
        </footer>
        
    </div>
</div>
</body>
</html>
<script type="text/javascript">
	$('.start-conversation').click(function (e) {
        e.preventDefault();
        var sender_id = $(this).data('sid');
        var recipient_id = $(this).data('rip');

        $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data) {
            chatBox.chatWith(data.conversation_id);
        });
    });
    $('.start-conversation').trigger('click');

     $(document).on('click', '.toggleChatBox', function (e) {
        e.preventDefault();

        var id = $(this).data('cid');
        chatBox.toggleChatBoxGrowth(id);
    });

    /**
     * Used to close the chatbox
     */

    $(document).on('click', '.closeChat', function (e) {
        e.preventDefault();

        var id = $(this).data('cid');
        chatBox.close(id);
    });


    /**
     * Listen on keypress' in our chat textarea and call the
     * chatInputKey in chat.js for inspection
     */

    $(document).on('keydown', '.chatboxtextarea', function (event) {

        var id = $(this).data('cid');
        chatBox.checkInputKey(event, $(this), id);
    });

    /**
     * When a conversation link is clicked show up the respective
     * conversation chatbox
     */

    $('a.conversation').click(function (e) {
        e.preventDefault();

        var conversation_id = $(this).data('cid');
        chatBox.chatWith(conversation_id);
    });

    $('.start-payroll-conversation').click(function (e) {
        e.preventDefault();
        var sender_id = $(this).data('sid');
        var recipient_id = $(this).data('rip');

        $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id, action_type: "payroll" }, function (data) {
            chatBox.chatWith("payroll");
        });
    });
    $('.toggleChatBox').trigger('click');
</script>
<style type="text/css">
    .chatboxcontent, .chatboxinput{
        display : none;
    }
</style>